.root{
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

/* Fonts */
@font-face {
    font-family: "Poppins";
    src: url('fonts/poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url('fonts/poppins/Poppins-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

/* Buttons */
.button{
    -fx-border-radius: 30px;
    -fx-text-fill: white;
    -fx-background-radius: 30px;
    -fx-border-width: 10px;
    -fx-background-color: #2AC4AC;
}

.button:hover{
    -fx-background-color: #4bcab2;
}

#title-bar{
    -fx-background-color: white;
    -fx-padding: 5 10 5 10;
    -fx-spacing: 10;
    -fx-effect: dropshadow(
        gaussian,
        rgb(0, 0, 0, 0.4),
        8,
        0,
        0,
        5
    );
}