.root{
    -fx-font-family: "Poppins";
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

/* Fonts */
@font-face {
    font-family: "Poppins";
    src: url('fonts/poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url('fonts/poppins/Poppins-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url('fonts/poppins/Poppins-Italic.ttf');
    font-weight: italic;
    font-style: normal;
}

/* Buttons */
.button{
    -fx-border-radius: 30px;
    -fx-text-fill: white;
    -fx-background-radius: 30px;
    -fx-border-width: 10px;
    -fx-background-color: #2AC4AC;
}

.button:hover{
    -fx-background-color: #4bcab2;
}

/* Text */
.text-field:focused{
    -fx-border-color: #2AC4AC;
    -fx-border-width: 2px;
}

#title-bar{
    -fx-background-color: white;
    -fx-padding: 5 10 5 10;
    -fx-spacing: 10;
    -fx-effect: dropshadow(
        gaussian,
        rgb(0, 0, 0, 0.4),
        8,
        0,
        0,
        5
    );
}

#login-form{
    -fx-pref-width: 500px;
    -fx-max-width: 500px;
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-background-color: #F0F0F0; /* Sfondo del form */
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0, 0, 0);
    -fx-alignment: center;
}

#animated-text{
    -fx-fill: #2AC4AC;
    -fx-font-family: "Poppins";
    -fx-font-style: italic;
}