spring.application.name=BugBoard26
app.user-service.implementation=IMPLEMENTATION_TYPE
app.issue-service.implementation=IMPLEMENTATION_TYPE
app.project-service.implementation=IMPLEMENTATION_TYPE
app.label-service.implementation=IMPLEMENTATION_TYPE
app.authentication-service.implementation=IMPLEMENTATION_TYPE